<div class="p-8">
  <button class="shadow-xl border rounded-lg py-2 px-4 font bold text-lg mb-9">
    <fa-icon class="mr-2" [icon]="faArrowLeft"> </fa-icon>
    Back
  </button>
  <div class="flex gap-10 items-center">
    <div class="flex-1">
      <img class="w-full" src="assets/Egypt.svg" alt="" />
    </div>

    <div class="flex-1">
      <h2 class="text-3xl font-bold py-8">Egypt</h2>
      <div class="flex justify-between mb-12">
        <ul>
          <li><span class="font-bold">Native Name</span> Belge</li>
          <li><span class="font-bold">Population</span> :550,100</li>
          <li><span class="font-bold">Region</span> :Africa</li>
          <li><span class="font-bold">Sub Region</span> :Africa</li>
          <li><span class="font-bold">Capital</span> :Cario</li>
        </ul>
        <ul>
          <li><span class="font-bold">Top Level Domain</span> :be</li>
          <li><span class="font-bold">Currencies</span> :EGP</li>
          <li><span class="font-bold">languages</span> :Arabic</li>
        </ul>
      </div>
      <div class="flex items-center gap-2">
        <span class="font-bold">Borders Countries :</span>
        <ul class="flex gap-2">
          <li class="inline border py-1 px-4 rounded-lg shadow-lg">France</li>
          <li class="inline border py-1 px-4 rounded-lg shadow-lg">Germeny</li>
          <li class="inline border py-1 px-4 rounded-lg shadow-lg">
            Netherlands
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
